/nbproject/
/.git/
/github/
/wp-content/uploads/
/wp-content/themes/vw-construction-estate/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/ample-construction/
/wp-content/themes/twentyfifteen/
/wp-content/themes/builderio/
/wp-content/themes/construction-field/
*.zip
wp-config.php